body {
  background-color: #f1f1f2;
  margin: 0;
  padding: 0;
}

#page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#allReviews {
  margin: 32px;
  margin-right: 0px;
  height: 100%;
  display: inline-block;
  flex: 1 1 50%;
  min-width: 300px; 
}

#reviews {
  margin-bottom: 32px;
}

#info {
  display: inline-block;
  flex: 1 1 20%;
}